<component name="libraryTable">
  <library name="spring-beans-4.2.4.RELEASE">
    <CLASSES>
      <root url="jar://D:/JavaJarLib/springJDBCTemplate/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://D:/JavaJarLib/springJDBCTemplate/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://D:/JavaJarLib/springJDBCTemplate/spring-jdbc-4.2.4.RELEASE.jar!/" />
      <root url="jar://D:/JavaJarLib/springJDBCTemplate/spring-tx-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>